/*@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700italic);*/


a {

}
a:hover {

}
a:hover h1, a:hover h2, a:hover h3, a:hover h4 {

}
a:focus, a:active {

}
a h1, a h2, a h3 {

}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
md-toolbar {

}
h1 {

}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p, li {

}
li {

}
ul {

}
hr {

}
section {

}
