<div>
	<header-comp></header-comp>

	This is the home page
		<!-- <button md-button>FLAT</button>
		<button md-raised-button>RAISED</button>
		<button md-fab>
		    <md-icon class="md-24">add</md-icon>
		</button>
		<button md-mini-fab>
		    <md-icon class="md-24">add</md-icon>
		</button>
		<button md-raised-button color="candy-app-primary">PRIMARY</button>
		<button md-raised-button color="accent">ACCENT</button>
		<button md-raised-button color="warn">WARN</button> -->

	<footer-comp></footer-comp>
</div>
